/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info {
    width: 50%;
    padding-right: 20px;
}

.image-container {
    width: 50%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.remember-me {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la sección de inicio de sesión alternativo */
.alternative-login {
    margin-top: 20px;
    text-align: center;
}

.alternative-login p {
    margin-bottom: 10px;
}

.social-login {
    display: flex;
    justify-content: space-around;
}

.social-login div {
    width: 30%;
}

.social-login img {
    width: 50px;
    height: auto;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .info, .image-container {
        width: 100%;
    }
}